<div id="<%= id %>-card" class="bg-indigo-800 rounded-lg w-5/6 mx-auto text-white p-2 transition-all duration-500 ease-linear mb-4">
  <div class="w-full mx-auto text-center text-md my-2 font-bold">
    <div class="my-3">
      <%= name %>
    </div>
    <%= image_tag cover, class: "mx-auto max-h-48" %>
  </div>
  <div class="text-center py-2 font-bold">
    <%= link_to "Find Out More", find_out_more_path(app: app), class: "mx-auto text-xs text-center bg-indigo-100 text-indigo-700 p-3 rounded w-48 inline-block mb-2", id: id, remote: true %>
    <%= (link_to "View Live", app[:url], class: "mx-auto text-xs text-center bg-indigo-100 text-indigo-700 p-3 rounded w-48 inline-block", target: "_blank") unless app[:url].nil? %>
  </div>
</div>
