<div class="w-100 lg:w-5/6 rounded-lg flex px-3 pt-3 mx-auto">
  <div class="w-2/3 md:w-1/4 text-center flex flex-column items-end">
    <%= link_to root_path do %>
      <%= image_tag "me2.png" %>
    <% end %>
  </div>
  <div class="w-1/2 md:w-3/4 flex items-center flex-column justify-center w-auto text-left">
    <div class="text-4xl md:text-7xl font-bold">
      Adam <br /> Goodman
      <hr />
      <div class="text-sm md:text-xl mt-2 font-light uppercase">
        <span class="md:text-lg font-thin opacity-50 text-red-300 mr-2">
          <%= "<%=" %>
        </span>
        Full Stack Ruby on Rails Developer
        <span class="md:text-lg font-thin opacity-50 text-red-300 ml-2">
          <%= "%" + ">" %>
        </span>
      </div>
      <div id="nav" class="grid grid-cols-2 md:grid-cols-5 py-5 md:mt-5 gap-x-2 gap-y-1 md:gap-y-2 text-xs sm:text-sm text-center font-light">
        <%= render partial: "nav" %>
      </div>
    </div>
  </div>
</div>