<div class="w-100 lg:w-5/6 rounded-lg flex px-3 pt-3 mx-auto bg-indigo-500 m-4 shadow-md">
  <div class="w-2/3 md:w-1/4 text-center flex flex-column items-end">
    <%= image_tag "me2.png" %>
  </div>
  <div class="w-2/3 md:w-3/4 font-weight-bold flex items-center flex-column justify-center w-auto text-left">
    <div class="text-3xl md:text-5xl font-bold">
      Adam Goodman
      <hr />
      <div class="text-lg md:text-3xl font-normal">
        Full Stack Ruby on Rails Developer
      </div>
      <div class="grid grid-cols-2 md:grid-cols-5 py-5 md:mt-5 gap-x-2 gap-y-2 text-xs sm:text-sm text-center">
        <%= link_to root_path do %>
          <div class="rounded-lg font-bold text-center bg-indigo-800 p-5 h-12 md:h-32 flex items-center flex-column justify-center">
            Skills & Tools
          </div>
        <% end %>
        <%= link_to web_applications_path do %>
          <div class="rounded-lg font-bold text-center bg-indigo-800 p-5 h-12 md:h-32 flex items-center flex-column justify-center">
            Web Apps
          </div>
        <% end %>
        <%= link_to resume_path do %>
          <div class="rounded-lg font-bold text-center bg-indigo-800 p-5 h-12 md:h-32 flex items-center flex-column justify-center">
            Resume
          </div>
        <% end %>
        <%= link_to contact_path do %>
          <div class="rounded-lg font-bold text-center bg-indigo-800 p-5 h-12 md:h-32 flex items-center flex-column justify-center">
            Contact
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>