<!DOCTYPE html>
<html>
  <head>
    <title>Adam Goodman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen px-0 pt-0 bg-gray-300 pb-3">
    <%= render partial: "header" %>
    <div class="bg-indigo-500 w-100 lg:w-5/6 rounded-lg stage mx-auto shadow-lg mb-3 pb-3">
      <%= yield %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= yield :after_js %>
    </div>
  </body>
</html>
